# 이 파일을 .env 로 복사한 뒤 값을 채운다. .env 는 .gitignore 에 들어 있다.
# application.yaml 의 spring.config.import 가 .env 를 읽는다.
NEXPLAY_DB_URL=jdbc:mysql://127.0.0.1:3306/nexplay?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
NEXPLAY_DB_USERNAME=nexplay_user
NEXPLAY_DB_PASSWORD=<로컬_비밀번호>
SERVER_PORT=4004
NEXPLAY_CORS_ALLOWED_ORIGINS=http://localhost:3003,http://127.0.0.1:3003
